body{
   text-align:center;
}

#navbar {
   display: flex;
   justify-content: space-evenly;
   font-size: larger;
   padding: 10%;
   font-family:Arial, Helvetica, sans-serif;
 }
 
 #navbar a{
   text-decoration: none;
 }
 
 #navbar a:hover {
   color: blanchedalmond;
 }


 h1 {
   font-size: 70px;
   font-weight: 600;
   background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   align-content: center;
 }

 h2{

   font-size: 40px;
   font-weight: 600;
   background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   align-content: center;
   }
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 .holidays {
    position: relative;
    width: 15%;
    padding-top: 15%; /* This gives a 1:1 aspect ratio */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
 .holidays .description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
    text-align: center; 
  }
  
  
 .holidays:hover .description {
    visibility: visible;
    opacity: 1;
  }
  
 .holidays img {
    width: 30%;
    display: block;
  }