* {
  box-sizing: border-box;
  padding: 14px;
}

body{
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  align-content: center;
  font-family:Arial, Helvetica, sans-serif;

}

.name{
  background-color: black;
}

h2{

font-size: 40px;
font-weight: 600;
background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
color: transparent;
background-clip: text;
-webkit-background-clip: text;
align-content: center;
text-shadow: rgb(255, 255, 255) 1px 1px;
font-family:Arial, Helvetica, sans-serif;
}

.h4 {
  font-size: medium;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: larger;
  padding: 10%;
  font-family:Arial, Helvetica, sans-serif;
}

#navbar a{
  text-decoration: none;
}

#navbar a:hover {
  color: blanchedalmond;
}

.body{
  background-image: url(images/lisbonbridge.JPG);
  background-attachment:fixed;
  background-size:cover;
  background-repeat: no-repeat
}

ol {
  color:white;
}

li {
  color:white;
}

h3{
  color:white;
}

p {
  color: #ffffff;
  font-family: "consolas", sans-serif;
  justify-content: center;
  font-style: italic;
  font-size: 30px;
  border-radius: 40px;
  border-color: rgb(5, 2, 0);
  text-shadow:black 1px 2px;
  border-style: outset;
}

.boxed {
 
  text-align: center;
  font-size: 30;
  font-style: italic;
  font-family: "Fira Sans", serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bike {
  position: relative;
  width: 50%;
  padding-top: 50%; /* This gives a 1:1 aspect ratio */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bike .description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s, visibility 0.2s;
  text-align: center;
}

.bike:hover .description {
  visibility: visible;
  opacity: 1;
}
